* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

/* 隐藏默认其他分组 */
#group6{
    display: none;
}

#app {
    width: 100%;
}

.group_container {
    width: 150px;
    max-width: 20%;
    height: 100%;
    padding: 10px;
    overflow: auto;
    background-color: #666;
}

.group_container img {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.group_item {
    /* 强制不换行 */
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.group_item span {
    display: inline-block;
    width: 70px;
}

.group_item:hover {
    transform: translateY(-5px);
    background-color: rgb(122, 255, 178);
}

.card_container {
    display: flex;
    height: calc(100vh - 180px);
    padding-bottom: 20px;
    overflow-y: hidden;
}

.card_box {
    display: flex;
    height: calc(100vh - 180px);
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    align-items: start;
    padding: 10px;
    padding-bottom: 20px;
    overflow-y: auto;
}


/* 卡片 */
.card {
    display: flex;
    position: relative;
    width: 189px;
    height: 230px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
    border-radius: 20px;
    transition: all 0.3s ease;
}

.card_del_btn{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    cursor: pointer;    
    font-size: 14px;
    background-color: rgb(255, 115, 115);
    color: #fff;
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.card_del_btn:hover{
    background-color: rgb(255, 0, 0);
}

/* 定义动画 */
@keyframes cardSlideUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 应用动画 */
.card-enter-active {
    animation: cardSlideUp 1s ease-out;
}

.card:hover {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card>img {
    width: 50px;
    height: 50px;
}

/* 图标 */
#card_appicon {
    width: 50px;
}

/* 名字 */
.card_name {
    font-size: 1.2em;
    font-weight: 800;
    color: rgb(26, 26, 26);
}

/* 描述 */
.card_desc {
    text-align: center;
    font-size: 0.7em;
    font-weight: 600;
    overflow: hidden;
    color: rgb(99, 99, 99);
}

/* 按钮盒子 */
.card_btns {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.card_btns div a {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
}

/* 收藏按钮 */
.collect_btn {
    width: 80px;
    height: 30px;
    background-color: #7b57ff;
    transition-duration: .2s;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
}

.collect_btn a {
    color: rgb(241, 241, 241);
}

/* 查看按钮 */
.view_btn {
    width: 80px;
    height: 30px;
    background-color: rgb(218, 218, 218);
    transition-duration: .2s;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
}

.view_btn a {
    color: rgb(46, 46, 46);
}

/*查看按钮 hover */
.view_btn:hover {
    background-color: #93d7ff;
    transition-duration: .2s;
}

/* 收藏按钮 hover */
.collect_btn:hover {
    background-color: #9173ff;
    transition-duration: .2s;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
    background-color: #dfdfdf;
    text-align: center;
    color: #666;
    border-top: 1px solid #ccc;
}

.footer a {
    color: #666;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 20px;
    background-color: #f5ffbd;
}

.header img {
    height: 30px;
}

.header button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.2s ease;
}

.header button:hover {
    background-color: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header_right {
    display: flex;
    gap: 20px;
    align-items: center;
}

#username{
    font-size: 16px;
}

#permission{
    font-size: 12px;
}