<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/Utils/axios1.6.7.min.js"></script>
    <script src="./js/Utils/vue.global.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <title>北小齐珍藏</title>
</head>

<body>
    <div id="app">
        <div class="header_box">
            <div class="header">
                <div class="header_left">
                    <img src="./logo.png" alt="">
                </div>
                <div class="header_right">
                    <p>
                        <span id="username">{{userinfo.username}}</span>
                        <span id="permission" title="不同权限可查看的数据量不同，目前暂未开发升级权限功能">({{getPermissionName(userinfo.permission)}})</span>
                    </p>
                    <button onclick="window.location.href = './view/Backstage/dataManage.html'"
                        v-if="userinfo.permission>=3"> 后 台 </button>
                    <button onclick="window.location.href = './view/login/login.html'" v-if="userinfo.permission==0"> 登
                        录
                    </button>
                    <button @click="logout()" v-if="userinfo.permission!==0"> 退 出 </button>
                </div>
            </div>


        </div>

        <div class="card_container" id="card_container">

            <!-- 分组 -->
            <div class="group_container">
                <div class="group_item" @click="refreshCache()">
                    <img src="https://s21.ax1x.com/2025/02/19/pEMx7kj.png" alt="" v-if="isMobile==false"><span>全部</span>
                </div>
                <div class="group_item" @click="changeGroup('collection')" v-if="userinfo.permission!==0">
                    <img src="https://s21.ax1x.com/2025/02/22/pElM491.png" alt=""><span>收藏夹</span>
                </div>
                <div class="group_item" @click="changeGroup(e.name)" v-for="e in groupList" :id="'group'+e.id">
                    <img :src="e.ico" alt="" v-if="isMobile==false"><span>{{e.name}}</span>
                </div>
                <div class="group_item" @click="changeGroup('其他')">
                    <img src="https://s21.ax1x.com/2025/02/19/pEMvfZ4.png" alt=""><span>其他</span>
                </div>
            </div>

            <!-- 卡片盒子 -->
            <div class="card_box" v-if="dataList.length==0">
                <div class="card  card-enter-active">
                    <img src="./img/noData.png" alt="">
                    <p class="card_name">暂无数据</p>
                    <p class="card_desc">请选择分组</p>
                </div>
            </div>

            <!-- 卡片盒子 -->
            <div class="card_box" v-if="dataList.length!=0">
                <div class="card card-enter-active" v-for="e in dataList">
                    <button class="card_del_btn" title="移除收藏" v-if="this.isFav" @click="removeFav(e.id)">X</button>
                    <img :src="e.ico" id="card_appicon " alt="">
                    <p class="card_name" :title="e.name">{{e.name}}</p>
                    <p class="card_desc" :title="e.desc">{{e.desc}}</p>

                    <div class="card_btns">
                        <div class="collect_btn" v-if="!this.isFav&&this.userinfo.permission!==0">
                            <a @click="addToFav(e.id)">收藏</a>
                        </div>
                        <div class="view_btn">
                            <a :href="e.src" target="_blank">查看</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- 添加底部网站备案号以及网站信息 -->
        <div class="footer">
            <div class="footer_container">
                <div class="footer_left">
                    <p>北小齐珍藏</p>
                    <a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">豫ICP备2025111252号-1</a>
                </div>
                <div class="footer_right">
                    <a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">豫ICP备2025111252号</a>
                </div>
            </div>
        </div>
    </div>
    <script type="module">
        import { baseUrl } from "../../js/constant/url.js";
        import { popup } from "../../js/Utils/Utils.js"

        const token = localStorage.getItem("token");
        let timeoutId; // 放到全局
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    // 请求头
                    headers: { "Authorization": token },
                    // 显示数据列表
                    dataList: [],
                    // 分组列表
                    groupList: [],
                    // 用户信息
                    userinfo: { name: "da" },
                    // 是否是移动端
                    isMobile: false,
                    // 是否在收藏夹
                    isFav: false,

                }
            },
            methods: {
                async getUserInfo(token) {
                    let res = await axios.post(baseUrl + '/user/getUserByToken', {}, {
                        headers: { 'Authorization': token }
                    })
                    if (res.data.data.id == 0) {
                        localStorage.setItem("token", "");
                    }
                    this.userinfo = res.data.data
                },

                // 显示所有
                async getDataList(group) {
                    let res = [];
                    if (group) {
                        if (group == "collection") {
                            // 显示收藏夹
                            res = await axios.get(baseUrl + "/Fav/getFavData", {
                                headers: this.headers,
                            });
                            if (res.data.code == 200) {
                                this.isFav = true;
                            } else {
                                timeoutId = popup(res.data.message, 2, timeoutId);
                                setTimeout(() => {
                                    window.location.href = ""
                                }, 2000);
                            }
                        } else {
                            // 根据分组获取数据列表
                            res = await axios.get(baseUrl + "/data/getDataByGroup", {
                                headers: this.headers,
                                params: {
                                    group: group
                                }
                            });
                            this.isFav = false;
                        }
                    } else {
                        // 显示全部
                        res = await axios.get(baseUrl + "/data/getDataByDimName", {
                            headers: this.headers,
                        });
                        this.isFav = false;
                    }
                    if (res.data.data !== null) {
                        this.dataList = res.data.data;
                        return;
                    }
                },


                // 获取分组列表
                async getGroupList() {
                    let res = await axios.get(baseUrl + "/group/getGroupList");
                    this.groupList = res.data.data;
                },

                // 切换分组
                changeGroup(group) {
                    if (group) {
                        this.getDataList(group); // 获取分组数据
                        return;
                    }
                    this.getDataList(); // 获取全部数据
                },

                // 添加到收藏夹
                async addToFav(dataId) {
                    let res = await axios.post(baseUrl + "/Fav/addToFav", {}, {
                        headers: this.headers,
                        params: {
                            dataId: dataId
                        }
                    });

                    if (res.data.code == 200) {
                        timeoutId = popup("收藏成功", 1, timeoutId);
                    } else {
                        if (res.data.code == 403) {
                            timeoutId = popup("已存在", 2, timeoutId);
                        } else {
                            timeoutId = popup("收藏失败，请联系管理员", 2, timeoutId);
                        }
                        // alert(JSON.stringify(res.data));
                    }
                },

                // 移除收藏
                async removeFav(dataId) {
                    var result = confirm("确定继续吗?");
                    if (result) {
                        let res = await axios.delete(baseUrl + "/Fav/removeFavData", {
                            headers: this.headers,
                            params: {
                                dataId: dataId
                            }
                        });

                        if (res.data.code == 200) {
                            timeoutId = popup("移除成功", 1, timeoutId);
                            this.getDataList("collection");
                        } else {
                            alert(JSON.stringify(res.data));
                            timeoutId = popup("移除失败，请联系管理员", 2, timeoutId);
                        }
                    }
                },

                // 获取权限名称
                getPermissionName(permission) {
                    switch (permission) {
                        case 0:
                            return "游客"
                        case 1:
                            return "用户";
                        case 2:
                            return "会员";
                        case 3:
                            return "管理员";
                        case 4:
                            return "超级管理员";
                        case 5:
                            return "开发者";
                    }
                    return permission > 5 ? "开发者" : "未知";
                },

                // 判断是否是移动端
                isMobileM() {
                    if (navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i)) {
                        this.isMobile = true;
                    } else {
                        this.isMobile = false;
                    }
                },

                // 刷新缓存
                refreshCache() {
                    // 强制从服务器重新加载页面，忽略缓存
                    location.reload(true);
                },

                // 退出登录
                async logout() {
                    localStorage.setItem("token", "");
                    window.location.href = 'index.html';
                },

            },
            async mounted() {
                this.isMobileM(); // 判断是否移动端
                await this.getDataList(); // 获取所有数据
                await this.getGroupList(); // 获取分组列表
                await this.getUserInfo(token);
            }
        }).mount("#app")
    </script>
</body>

</html>