<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/Utils.js"></script>
    <title>侧边展开导航栏(半隐藏)</title>
</head>

<body>
    <div class="navbar">
        <input type="checkbox" id="menuSwitch">
        <div class="topcolumn">
            <a class="menuicon" href="javascript:expand()"></a>
            <a href="" class="logo"><img src="./images/logo.png" alt=""></a>
        </div>
        <ul>
            <li title="首页">
                <img src="./images/TX_1.png" alt="">
                <span>北小齐 欢迎您！</span>
            </li>
            <li title="在线工具"> 
                <img src="./images/icon/在线工具.png" alt=""></img>
                <a href="javascript:show('tools')"> 在线工具 </a>
            </li>
            <li title="在线影视">
                <img src="./images/icon/视频.png" alt=""></img>
                <a href="javascript:show('video')"> 在线影视 </a>
            </li>
            <li title="在线音乐">
                <img src="./images/icon/音乐.png" alt=""></img>
                <a href="javascript:show('music')"> 在线音乐 </a>
            </li>
            <li title="实用程序">
                <img src="./images/icon/主程序.png" alt=""></img>
                <a href="javascript:show('program')"> 实用程序 </a>
            </li>
            <li title="隐藏功能">
                <img src="./images/icon/锁.png" alt=""></img>
                <a href="javascript:show('hide')"> 隐藏功能 </a>
            </li>
        </ul>
    </div>

    <div class="content" id="content">
        <table>
            <thead>
                <tr>
                    <th>图标</th>
                    <th>名称</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr>
                    <td><img src="./images/TX_1.png" alt="图标1"></td>
                    <td>项目1</td>
                    <td>描述1</td>
                    <td><a>操作1</a></td>
                </tr>
                <tr>
                    <td><img src="../images/TX_1.png" alt="图标2"></td>
                    <td>项目2</td>
                    <td>描述2</td>
                    <td><a>操作2</a></td>
                </tr>
                <tr>
                    <td><img src="./images/TX_1.png" alt="图标3"></td>
                    <td>项目3</td>
                    <td>描述3</td>
                    <td><a>操作3</a></td>
                </tr>
                <tr>
                    <td><img src="./images/TX_1.png" alt="图标4"></td>
                    <td>项目4</td>
                    <td>描述4</td>
                    <td><a>操作4</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="./js/script.js"></script>
    <script>
        var data = [
            { ico: "./images/TX_1.png", name: "项目1", group: "tools", desc: "描述1", src: "操作1" },
            { ico: "./images/TX_1.png", name: "项目2", group: "video", desc: "描述2", src: "操作2" },
            { ico: "./images/TX_1.png", name: "项目3", group: "music", desc: "描述3", src: "操作3" }

        ]
        function expand() {
            let checkbox = document.getElementById("menuSwitch");
            checkbox.checked = !checkbox.checked;
            if (checkbox.checked) {
                document.getElementById("content").style.left = "200px";
            } else {
                document.getElementById("content").style.left = "70px";
            }
        }

        function show(group) {
            let elements = document.getElementById("tbody")
            let htmlstr = "";

        }

    </script>

</body>

</html>