<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>😎 奎他姐专属影院 😎</title>
    <style>
        body {
            background-image: url("./imgs/fj.jpg");
            background-position: center;
            background-size: auto;
        }
    </style>
</head>

<body>
    <div class="card">
        <h2 style="color: #333; text-align: center; margin-bottom: 30px;">
            😎 奎他姐专属影院 😎
        </h2>

        <form id="urlForm">
            <div class="form-group">
                <label for="apiSelect" style="display: block; margin-bottom: 10px; color: #666;">
                    选择接口：
                </label>
                <select id="apiSelect">
                    <!--  {
                    "纯净1": "https://im1907.top/?jx=",
                    "极速": "https://jx.2s0.cn/player/?url=",
                    "宝片": "https://jiexi.ibaopian.pro/player/?url=",
                    "A6club": "https://pl.a6club.com/player/analysis.php?v=",
                    "77": "https://jx.77flv.cc/?url=",
                    "虾米": "https://jx.xmflv.com/?url=",
                    "虾米2": "https://jx.xmflv.cc/?url=",
                    "m3u8TV": "https://jx.m3u8.tv/jiexi/?url=",
                    "8090g": "https://www.8090g.cn/jiexi/?url=",
                    "冰豆": "https://bd.jx.cn/?url=",
                    "红狐[选][下]": "https://player.mrgaocloud.com/player/?url=",
                    "红狐2[选][下]": "https://rdfplayer.mrgaocloud.com/player/?url=",
                    "云析": "https://jx.yparse.com/index.php?url=",
                    "七哥": "https://jx.nnxv.cn/tv.php?url=",
                    "ik9": "https://yparse.ik9.cc/index.php?url="
                } -->
                    <option value="">给这选一个方案 😏</option>
                    <option value="https://player.mrgaocloud.com/player/?url=" selected>红狐</option>
                    <option value="https://rdfplayer.mrgaocloud.com/player/?url=">红狐2</option>
                    <option value="https://jx.m3u8.tv/jiexi/?url=">m3u8TV</option>
                    <option value="https://www.8090g.cn/jiexi/?url=">8090g</option>
                    <option value="https://jx.yparse.com/index.php?url=">云析</option>
                    <option value="https://jx.nnxv.cn/tv.php?url=">七哥</option>
                    <option value="https://bd.jx.cn/?url=">冰豆</option>
                    <option value="https://im1907.top/?jx=">纯净1</option>
                    <option value="https://jx.2s0.cn/player/?url=">极速</option>
                    <option value="https://jx.xmflv.com/?url=">虾米</option>
                    <option value="https://jx.xmflv.cc/?url=">虾米2</option>
                    <option value="https://jiexi.ibaopian.pro/player/?url=">宝片</option>
                    <option value="https://pl.a6club.com/player/analysis.php?v=">A6club</option>
                    <option value="https://jx.77flv.cc/?url=">77</option>
                    <option value="https://yparse.ik9.cc/index.php?url=">ik9</option>
                </select>
            </div>

            <div class="form-group">
                <label for="inputUrl" style="display: block; margin-bottom: 10px; color: #666;">
                    把视频链接粘贴到这下边 👇：
                </label>
                <input type="text" id="inputUrl" placeholder="粘贴到这就行哈👌" aria-describedby="urlHelp">
                <div id="urlHelp" class="form-text text-muted" style="display: none;">
                    咦~，你输入错啦，应该是http或https开头嘞
                </div>
            </div>

            <button class="submitbtn" type="submit" style="background: #FF6B6B;">剩下的交给我吧 😎</button>
        </form>

        <button class="Officialbtn" id="Officialbtn">→</button>
    </div>

    <div class="Official-card-box" id="Official-card-box" style="display: none;" onclick="isShow()">
        <div class="Official-card" id="Official-card">
            <a href="https://v.qq.com/" target="_blank">
                <img src="https://v.qq.com/favicon.ico" alt=""><span>腾讯视频</span>
            </a>
            <a href="https://www.iqiyi.com/" target="_blank">
                <img src="https://www.iqiyi.com/favicon.ico" alt=""><span>爱奇艺</span>
            </a>
            <a href="https://www.youku.com/" target="_blank">
                <img src="https://www.youku.com/favicon.ico" alt=""><span>优酷</span>
            </a>
            <a href="https://www.mgtv.com/" target="_blank">
                <img src="https://www.mgtv.com/favicon.ico" alt=""><span>芒果</span>
            </a>
            <a href="https://www.tudou.com/" target="_blank">
                <img src="https://img.alicdn.com/tfs/TB1Pd4JZ.z1gK0jSZLeXXb9kVXa-32-32.png" alt=""><span>土豆</span>
            </a>
            <a href="https://www.miguvideo.com/" target="_blank">
                <img src="https://www.miguvideo.com/favicon.ico" alt=""><span>咪咕</span>
            </a>
            <a href="https://www.bilibili.com/" target="_blank">
                <img src="https://www.bilibili.com/favicon.ico" alt=""><span>哔哩哔哩</span>
            </a>
        </div>
    </div>

    <script src="./js/video.js"></script>
</body>

</html>