/* 编号 */
.tab_id {
    width: 2%;
    max-width: 2%;
}


/* 名称 */
.tab_name {
    width: 4%;
    max-width: 4%;
}

/* 描述 */
.tab_desc {
    width: 15%;
    max-width: 15%;
}

/* 网站 */
.tab_src {
    width: 10%;
    max-width: 10%;
}

/* 权限 */
.tab_permission {
    width: 3%;
    max-width: 3%;
}

/* 图标 */
.tab_icon {
    width: 2%;
    max-width: 2%;
}

/* 分组 */
.tab_group {
    position: relative;
    width: 3%;
    max-width: 3%;
}