<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/ForbidView.js"></script>
    <script src="../js/data.js"></script>
    <title>登录</title>
</head>

<body>
    <a href="https://bxiaoqi.netlify.app/" class="return">返回</a>
    <div class="container container-show">
        <div class="login-box">
            <div class="apple-btn login-apple">
                <li class="red-btn"></li>
                <li class="yellow-btn"></li>
                <li class="green-btn"></li>
            </div>
            <div class="title">登录页面</div>
            <div class="input">
                <input type="text" id="login-user" placeholder="用户名">
            </div>
            <div class="input">
                <input type="password" id="login-password" placeholder="密码">
            </div>
            <div class="btn login-btn" onclick="login()">
                <span>登录</span>
            </div>
            <div class="change-box login-change">
                <div class="change-btn toSign">
                    <span>去注册</span>
                </div>
            </div>
        </div>

        <div class="sign-box">
            <div class="apple-btn sign-apple">
                <li class="red-btn"></li>
                <li class="yellow-btn"></li>
                <li class="green-btn"></li>
            </div>
            <div class="img" style="text-align: center;">
                <p>扫描关注公众号,发送“<span style="color: #1e90ff;">注册</span>”看详细教程</p>
                <p>发送“<span style="color: #1e90ff;">注册:用户名+密码+邮箱</span>”</p>
                <p>例如：<span style="color: #1e90ff;">注册:admin+123+666666@qq.com</span></p>
                <img src="../images/QR_code.png" alt="">
            </div>
            <div class="change-box sign-change">
                <div class="change-btn toLogin">
                    <span>去登陆</span>
                </div>
            </div>
        </div>
    </div>
    <script>

        // 登录
        function login() {
            let username = document.getElementById("login-user").value;
            let password = document.getElementById("login-password").value;
            for (let i = 0; i < userdata.length; i++) {
                if (userdata[i].username == username && userdata[i].password == password) {
                    let userObj = userdata[i]
                    localStorage.setItem("user", JSON.stringify(userObj));
                    alert("登陆成功");
                    window.location.href = "https://bxiaoqi.netlify.app/";
                    return;
                }
            }
        }


        // 封装选择器, 采用ES6箭头函数写法
        const getSelector = ele => {
            return typeof ele === "string" ? document.querySelector(ele) : "";
        }
        const containerShow = () => {
            var show = getSelector(".container")
            show.className += " container-show"
        }
        window.onload = containerShow;
        ((window, document) => {
            let toSignBtn = getSelector(".toSign"),
                toLoginBtn = getSelector(".toLogin")
            loginBox = getSelector(".login-box"),
                signBox = getSelector(".sign-box");

            toSignBtn.onclick = () => {
                loginBox.className += ' animate_login';
                signBox.className += ' animate_sign';
            }

            toLoginBtn.onclick = () => {
                loginBox.classList.remove("animate_login");
                signBox.classList.remove("animate_sign");
            }


        })(window, document);
    </script>

</body>

</html>